#info {
    font-size: 14px;
}

.event-item {
    background: #ffdde1;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.event-item:hover {
    background: #ffb3bc;
}

.event-date {
    font-size: 12px;
    color: #555;
}
