body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 120px;
    background: #ffdce0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #ff6f7f;
}

header h2 {
    margin: 0;
    font-size: 16px;
    color: #444;
}

.search-bar, .filter-bar {
    margin-top: 5px;
}

main {
    display: grid;
    grid-template-rows: 140px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "timeline timeline"
        "map info";
    height: calc(100vh - 120px);
    gap: 5px;
}

#map {
    grid-area: map;
}

#info {
    grid-area: info;
    overflow-y: auto;
    padding: 5px;
}

#timeline {
    grid-area: timeline;
}