body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;         /* thêm */
    flex-direction: column;
}

/* HEADER */
header {
    background: #ffdce0;
    padding: 50px;
    text-align: center;
}
header h1 {
    margin:0;
    color: #ff4f72;
}
header h2 {
    margin: 0;
    color: #666;
}

/* TIMELINE */
#timeline-wrapper {
    height: 150px;      /* hoặc fixed px */
    border-bottom: 2px solid #ffaac7;
    background: #ffe6f2;
    flex-shrink: 0;  /* không bị co */
}
#timeline {
    height: 100%;
}
#nowBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 6px 12px;
    background: #ff4f72;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.25);
}

#nowBtn:active {
    transform: scale(0.95);
}

/* MAP + INFO */
#map-info-wrapper {
        display: flex;
        flex: 1;               /* CHIẾM TOÀN BỘ PHẦN CÒN LẠI */
    gap: 10px;
    margin-top: 10px;
        min-height: 0;       /* quan trọng cho flex con scroll được */
}

/* MAP */
#map {
    flex: 2;
       min-height: 0;
    border: 2px solid #eee;
}

/* INFO */
#info {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background: white;
    border-left: 2px solid #eee;
    padding: 10px;
    min-height: 0;
}

.info-event {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}
.info-event:hover {
    background: #ffeef3;
}
.info-event .note {
    margin-top: 4px;
    font-size: 0.9em;
    color: #444;
    font-style: italic;
    line-height: 1.3em;
    white-space: pre-line; /* cho xuống dòng nếu cần */
}


/* VIEWER */
#viewer {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
#viewer.hidden {
    display: none;
}
#viewer img {
    max-width: 90%;
    max-height: 90%;
}
#prevImg, #nextImg {
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.close {
    position: absolute;
    top: 20px; right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

@media(max-width:900px) {
    #map-info-wrapper {
        flex-direction: column;
        height: auto;
    }
    #map, #info {
        height: 300px;
    }
}
